* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-theme-bg: #14120b;
  --color-theme-text: #edecec;
  --spacing: 0.25rem;
  --border-radius: 3.40282e38px;
}

@font-face {
  font-family: CursorGothic-Regular;
  src: url("fonts/CursorGothic_Regular-s.p.a361088d.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: CursorGothic-Bold;
  src: url("fonts/CursorGothic_Bold-s.p.95169710.woff2") format("woff2");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

body {
  width: 100%;
  height: 100%;
  font-family: "CursorGothic-Regular";
}
a {
  text-decoration: none;
}

header {
  position: fixed;
  padding-inline: 16.25px;
  background-color: var(--color-theme-bg);
  width: 100%;
  z-index: 50;
  top: calc(var(--spacing) * 0);
  left: calc(var(--spacing) * 0);
}

header .nav-container {
  display: grid;
  position: relative;
  z-index: 2;
  height: 52px;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  margin-inline-start: auto;
  margin-inline-end: auto;
  width: 100%;
  max-width: 1300px;
}

.nav-container .cursor-icon {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.nav-container .cursor-icon a {
  position: relative;
  top: 0.2rem;
  left: -2px;
  display: inline-flex;
}

.nav-container .cursor-icon a div svg {
  width: 95.75px;
  color: var(--color-theme-text);
}

.nav-container .cursor-icon a span {
  clip-path: inset(50%);
  white-space: nowrap;
  border-width: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
}
.nav-center {
  display: block;
}
.nav-center nav {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.nav-center nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.nav-center nav ul li .nav__link {
  display: inline-flex;
  border: 1px solid #0000;
  background-color: #0000;
  padding-block: 4.55px;
  padding-inline: 12.1875px;
  font-size: 0.875rem;
  cursor: pointer;
  color: var(--color-theme-text);
}

.nav-btn {
  display: flex;
  align-items: center;
  justify-self: flex-end;
  grid-row-start: 1;
  grid-row-end: 2;
  gap: 6.09375px;
  grid-column-start: 3;
  grid-column-end: -1;
}
.nav-btn a {
  font-size: 0.875rem;
  padding: 0.4em 0.75em 0.42em;
  border: 1px solid #edecec33;
  color: var(--color-theme-text);
  cursor: pointer;
  font-weight: 400;
  background-color: #0000;
  border-radius: var(--border-radius);
  display: inline-flex;
  line-height: 1;
  align-items: center;
  justify-content: center;
}

.nav-btn a:nth-child(2) {
  background-color: var(--color-theme-text);
  color: var(--color-theme-bg);
}

main {
  min-height: 70vh;
  margin-top: 52px;
}

main > .section:first-child {
  padding-block-start: 91px;
}

.section {
  padding: 54.6px 16.25px;
  background-color: var(--color-theme-bg);
  color: var(--color-theme-text);
}

.hero-section {
  background-color: var(--color-theme-bg);
  color: var(--color-theme-text);
}

.container {
  max-width: 1300px;
  width: 100%;
  margin-inline-start: auto;
  margin-inline-end: auto;
}
.hero-section .container .text-left {
  margin-bottom: 45.5px;
  max-width: 65ch;
  text-align: left;
}
.hero-section .container .text-left h1 {
  font-size: 1.625rem;
  line-height: 1.25;
  font-weight: 400;
  letter-spacing: -0.0125em;
  margin-bottom: 18.2px;
  text-wrap-mode: initial;
  text-wrap-style: balance;
}

.hero-section .container .text-left .btn-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 8.125px;
}

.hero-section .container .text-left .btn-container div .download-btn {
  display: block;
}

.hero-section .container .text-left .btn-container div .download-btn .btn {
  background-color: var(--color-theme-text);
  border: 1px solid var(--color-theme-text);
  color: var(--color-theme-bg);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.78em 1.35em 0.8em;
  border-radius: var(--border-radius);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.download-btn .btn .btn-icon {
  display: inline-flex;
  padding-inline-start: 0.25em;
}

.hero-container {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
  user-select: none;
}

.hero-container video {
  border-radius: 4px;
}

.brand-logo-section {
  background-color: var(--color-theme-bg);
  color: var(--color-theme-text);
  padding-top: calc(var(--spacing) * 0);
  padding-bottom: 27.3px;
}

.logo-container {
  max-width: 1300px;
  width: 100%;
  margin-inline-start: auto;
  margin-inline-end: auto;
  text-align: center;
}
.logo-container h2 {
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.5;
  margin-bottom: 18.2px;
}

.logo-container .logo-garden {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  gap: 8.125px;
}

.logo-garden .logo-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 0;
}

.logo-garden .logo-box .logo-img-container {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #1b1913;
  padding-inline: 6.09375px;
  height: 6.25rem;
}

.logo-garden .logo-box .logo-img-container img {
  display: block !important;
  width: auto;
  object-fit: contain;
  height: 2.5rem;
  color: transparent;
}

.section .feature-block {
  background-color: #14120b;
  color: var(--color-theme-text);
  padding-block-start: 0px;
  padding-block-end: 0px;
}

.feature-block .feature-container {
  max-width: 1300px;
  width: 100%;
  margin-inline-start: auto;
  margin-inline-end: auto;
  margin-bottom: 72.8px;
}

.feature-block .feature-container .block-container {
  display: grid;
  grid-template-rows: auto 1fr;
}

.feature-container .block-container a {
  position: relative;
  border-radius: 4px;
  background-color: #1b1913;
  padding-inline: 12.1875px;
  padding: 14.2188px;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  gap: 8.125px;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: -1;
  row-gap: calc(var(--spacing) * 0);
}

.feature-block:nth-child(1)
  .feature-container
  .block-container
  a
  .feature-text-container,
.feature-block:nth-child(3)
  .feature-container
  .block-container
  a
  .feature-text-container {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
  align-items: center;
  padding-right: 24.375px;
  padding-left: 2.03125px;
}

.feature-text-container .feature-content {
  width: 100%;
  max-width: 65ch;
  justify-self: flex-start;
}

.feature-text-container .feature-content .feat-text {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.005em;
  flex-grow: 1;
}
.feature-text-container .feature-content .feat-text h3 {
  text-wrap-mode: initial;
  text-wrap-style: pretty;
  letter-spacing: -0.005em;
  font-weight: 400;
  line-height: 1.3;
  font-size: 1.375rem;
  color: var(--color-theme-text);
}
.feature-text-container .feature-content .feat-text .feat-desc {
  text-wrap-mode: initial;
  text-wrap-style: pretty;
  color: #edecec99;
  letter-spacing: -0.005em;
  font-size: 1.375rem;
  line-height: 1.3;
  font-weight: 400;
}

.feature-text-container .feature-content .feat-btn {
  margin-top: 12.1333px;
}

.feature-text-container .feature-content .feat-btn span {
  display: inline-flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  background-color: #0000;
  color: #f54e00;
  padding: unset;
  border: 0;
}

.agent-display-container,
.autocomplete-display-container,
.ecosystem-display-container {
  display: grid;
  z-index: 10;
  grid-template-columns: repeat(24, 1fr);
  gap: 8.125px;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: -1;
  row-gap: calc(var(--spacing) * 0);
  padding: 14.2188px;
}
.agent-display-container .agent-container,
.ecosystem-display-container .ecosystem-container  {
  display: grid;
  cursor: default;
  grid-column-start: 9;
  grid-column-end: 25;
  grid-row-start: 2;
  grid-row-end: 3;
  align-items: center;
}

.autocomplete-display-container .autocomplete-container {
  display: grid;
  cursor: default;
  grid-column-start: 1;
  grid-column-end: 17;
  grid-row-start: 2;
  grid-row-end: 3;
  align-items: center;
}

.agent-video,
.autocomplete-video,
.ecosystem-img {
  overflow: hidden;
  width: 100%;
  border-radius: 4px;
}

.agent-video video,
.autocomplete-video video,
.ecosystem-img img {
  width: 100%;
  border-radius: 4px;
}

.feature-block:nth-child(2)
  .feature-container
  .block-container
  a
  .feature-text-container {
  display: grid;
  grid-column-start: 17;
  grid-column-end: 25;
  grid-row-start: 1;
  grid-row-end: 3;
  align-items: center;
  padding-left: 24.375px;
  padding-right: 2.03125px;
}
